@import url("https://fonts.googleapis.com/css?family=Mulish&display=swap");

.content-box {
  font-family: "Mulish", sans-serif;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  padding: 0px 10px 5px 10px;
}

.stat-card {
  margin: 10px;
  background-color: #1c1b23;
  width: fit-content;
  border-radius: 30px;
  padding: 10px 15px 0px 5px;
  cursor: pointer;
  transition: all 0.3s ease;
}
.stat-card:active {
  background-color: #2d284b;
}
.stat-box {
  display: flex;
  justify-content: center;
  width: fit-content;
  align-items: center;
  flex-direction: row;
  flex-wrap: nowrap;
}
.stat-logo {
  margin-left: 10px;
  width: 25px;
  height: auto;
}
.stat-title {
  color: white;
  /* font-family: Arial, Helvetica, sans-serif; */
  font-weight: 400;
  font-style: normal;
  font-size: 17px;
  margin-left: 10px;
  width: fit-content;
}

.stat-title::selection {
  background: none;
}

a {
  text-decoration: none;
  color: white;
  width: fit-content;
  height: fit-content;
  font-weight: bold;
  transition: all 0.3s ease;
}
.link {
  color: white;
  width: fit-content;
  height: fit-content;
  cursor: pointer;
  font-size: 14px;
  margin: -12px 10px 0px 50px;
}

.stat-card:hover a {
  color: rgb(242, 49, 49);
}
