#Footer {
  background-color: #1c1b23;
  /* border: 1px solid #2d2d2d; */
  margin: 10px 5px 20px 5px;
  padding: 15px 0px 15px 0px;
  border-radius: 10px;
}

.digiAccounts {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  color: #14131a;
  text-align: center;
  height: 55px;
}

.accs {
  color: white;
  cursor: pointer;
  font-size: 23px;
  width: 35px;
  margin: 1px 10px 1px 10px;
  transition: all 0.3s ease;
}
.accs:hover {
  font-size: 29px;
}

.copy {
  height: fit-content;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin: 15px 0px 0px 10px;
  font-size: 14px;
}

.back-btn {
  position: fixed;
  right: 47.5%;
  bottom: 40px;
  font-weight: 500;
  text-transform: uppercase;
  border-radius: 4px;
 border: 1.3px  solid #14131a;
  padding: 3px 10px;
  transition: all 0.3s ease-in-out;
  background: white;
  color: #14131a;
}

.back-btn:hover {
  background:#14131a;
  color:white;
  
}
@media (max-width: 900px) {
  .back-btn {
    right: 40px;
    bottom: 104px;
  }
  .accs {
    font-size: 27px;
    margin: 1px 15px 1px 15px;
  }
  .digiAccounts {
    justify-content: center;
  }
  .copy {
    justify-content: center;
    margin: 0px;
    padding: 15px 0px 15px 0px;
  }
}

.copy b {
  border: 1.3px solid white;
  color: white;
  border-radius: 4px;
  font-weight: 350;
  text-transform: uppercase;
  margin-left: 5px;
  padding: 3px 14px 3px 14px;
}
