@import url("https://fonts.googleapis.com/css?family=Mulish&display=swap");

#nav {
  z-index: 20;
  background: #1c1b23;
  margin: 0 0 5px 0;
  padding: 10px 0;
}

#basic-nav-dropdown {
  color: #b3b3b3;
}

.me-auto {
  font-family: "Mulish", sans-serif;
  color: lightgray;
  border-radius: 30px;
  padding: 0 20px;
}

.navbar-nav .nav-link.active,
.navbar-nav .nav-link.show {
  color: lightgray;
}

.me-auto a {
  text-transform: capitalize;
  color: #b3b3b3;
  transition: all 0.2s ease;
  position: relative;
  width: max-content;
 
}

.me-auto a:link,
.me-auto a:visited {
  color: lightgray;
}


.me-auto a::before,
.me-auto a::after {
  content: "";
  position: absolute;
  height: 1.3px;
  border-radius: 5px;
  width: 100%;
  opacity: 0;
  transform: translateX(-8px);
  background: white;
  z-index: 100;
}



.me-auto a:hover::before {
  opacity: 1;
}

.me-auto a:hover::after {
  opacity: 1;
}



#div {
  display: none;
  transition: all 0.8s;
  border-radius: 5px;
  width: 10px;
  max-width: 50px;
  height: 2px;
  background-color: #b3b3b3;
}

#d1 {
  margin: 5px;
  width: 25px;
  height: 25px;
  background-color: white;
  border-radius: 50%;
}

#d2 {
  margin: 5px;
  width: 25px;
  height: 25px;
  background-color: slateblue;
  border-radius: 10%;
}

#brand {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.outer {
  width: fit-content;
  height: fit-content;
  background-color: #030304;
  display: flex;
  flex-direction: column;
  z-index: 10;
  position: relative;
  padding: 5px;
}

.inner {
  /* border-radius: 20px; */
  height: 2px !important;
  width: 30px;
  background-color: white;
  margin: 5px 0;
  will-change: rotate;
  transition: all 0.3s ease;
}



@media screen and (max-width: 768px) {
  #nav {
    z-index: 20;
    background: #030304;
    margin: 0 0 5px 0;
    padding: 10px 0;
  }

  .me-auto {
    border: none;
    display: flex;
    align-items: center;
  }

  .me-auto  a::after{
    transform: translateX(0px);
  }

  .me-auto  a::before{
    transform: translateX(0px);
  }
}
